<span style='color: #ff0000; font-size: 96px;'>左</span>
<span style='color: #000000; font-size: 96px;'>右</span>

<p>
    次々に落ちてくる「左」「右」の字を、カーソルキーで入力するゲーム
    <br><br>
    字が黒い場合は字の通りに、字が<span style='color: #ff0000;'>赤い</span>場合は字の流れているレーンを入力する
    <br><br>
    hard モードは「中」の字が追加され、中央のレーンにも字が流れるようになる（対応するキーは「下」）
    <br><br>
    vim 風入力 (h, l, j) もしくは emacs 風入力 (b, f, n) を行うと、得点が倍になる
</p>
<ul>
    <li><a href='game.html?easy,slow'      >easy (slow)</a></li>
    <li><a href='game.html?easy,normal'    >easy (normal)</a></li>
    <li><a href='game.html?easy,high-speed'>easy (high-speed)</a></li>
    <li><a href='game.html?hard,slow'      >hard (slow)</a></li>
    <li><a href='game.html?hard,normal'    >hard (normal)</a></li>
    <li><a href='game.html?hard,high-speed'>hard (high-speed)</a></li>
</ul>
